<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../lib/vue.min.js"></script>

</head>
<body>
    <div id="app">
        <!-- 1. 我们要监听到 文本框数据的改变，这样才知道 什么时候去拼接 出 一个 fullName -->
        <!-- 2. 如何监听 文本框的数据改变？？？ -->
        <input type="text" v-model="firstname" @keyup="getFullname">+
        <input type="text" v-model="lastname" @keyup="getFullname">=
        <input type="text" v-model="fullname" >

    </div>
    <script>
        var vm=new Vue({
            el:'#app',
            data:{
                firstname:'',
                lastname:'',
                fullname:''
            },
            methods:{
                getFullname(){
                    this.fullname=this.firstname+'-'+this.lastname
                }
            },
            components:{}

        })
    </script>
</body>
</html>